@model FitnessApp.UserProfile

@{
    ViewBag.Title = "Dashboard";
}

@Html.Partial("~/Views/Shared/_SideNav.cshtml")

<div class="container">
    <div class="row">
            @if (@ViewBag.NoWorkouts != null)
            {
                <div class="col-md-10 content" style="text-align:center;">
                    <div class="col-md-12" style="margin-top:70px;">@ViewBag.NoWorkouts</div>
                </div>
            }
            else
            {
                <div class="col-md-8 content">
                    @foreach (Workout workout in Model.Workouts)
                    {
                        if (workout != null)
                        {
                            @workout.Date
                        }
                    }
                </div>
            }
    </div>
</div>
