<div class="col-md-4 sidebar">
    <ul class="list-group">
        <li class="list-group-item"><a href="@Url.Action("Dashboard", "Home", new { id = Model.UserId })">Dashboard</a></li>
        <li class="list-group-item"><a href="@Url.Action("View", "Workout", new { id = Model.UserId })">Add Workout</a></li>
    </ul>
</div>
