<div class="col-md-4 sidebar">
    <ul class="list-group">
        <li class="list-group-item"><a href="@Url.Action("Dashboard", "Home")">Dashboard</a></li>
        <li class="list-group-item"><a href="@Url.Action("View", "Workout")">Workouts</a></li>
    </ul>
</div>
